# Environment variables template
OPENAI_API_KEY= api
QDRANT_HOST=localhost
QDRANT_PORT=6333
COLLECTION_NAME=rag_chunks
VECTOR_SIZE=1536
EMBEDDING_MODEL=text-embedding-3-small
LLM_MODEL=gpt-4o-mini
BACKEND_PORT=4000